.POTD {
    width: 95%;
    max-width: 1200px;
    margin-bottom: 10px;
}

h1 {
    font-size: 5.0rem;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    text-shadow: -2px 0 #ff4500, 0 2px #ff4500, 2px 0 #ff4500, 0 -2px #ff4500;
}

.main {
    background-image: url('../../images/main-page-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.video-player {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}