.nav-bar {
    width: 100%;
    background-color: #00baff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0px 5%;
    box-sizing: border-box;
}

.logo {
    width: 100%;
    max-width: 100px;
    margin-right: auto;
}

.nav-bar .hamburger {
    width: 100%;
    max-width: 50px;
    margin-right: auto;
}