.nav-bar {
    width: 100%;
    background-color: dodgerblue;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0px 5%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.nav-bar img{
    
    border: 2px solid yellow;
}

.nav-bar span {
    border: 2px solid yellow;
}
.logo {
    width: 100%;
    max-width: 100px;
}

.hamburger {
    width: 100%;
    max-width: 50px;
}