.nav-bar {
    width: 100%;
    background-color: dodgerblue;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0px 5%;
    box-sizing: border-box;
}